* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:   rgb(6,26,64);
}
.header-title{
  position: relative;
  top: 19px;
}
.banner-image{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
header{
  background-color:  rgb(6,26,64);
  width: 100%;
  height: 10vh;
}
nav{
  margin: 5px;
}
#navLm{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 50px;
  padding: 22px;
  margin: 10px;
  text-decoration: none;
}

#navLm li{
  border-bottom: 5px solid black;
  list-style: none;
  margin: 5px;
}
a:link, a:visited{
color: rgb(224, 54, 22);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  display: inline-block;
  font-weight: bold;
  color: rgb(3, 83, 164);
}
.programming{
  width: 20px;
  width: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#selfie-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid rgb(224, 54, 22);
}
#work-title{
  padding-right: 67px;
  border-right: 20px solid black;
}
.mainCard{
  width: 1000px;
  height: 497px;
  position: relative;
  top: 20px;
  color: rgb(224, 54, 22);
}
.mainCard h4{
  left: 1px;
}
#mainCardImg {
  width: 75vw;
  height: 51vh;
}
.card{
width: 450px;
height: 200px;
text-align: center;
}
.card h4, .mainCard h4{
  position: relative;
  bottom: 48px;
  right: 104px;
  color: rgb(224, 54, 22);
  background-color: rgb(3, 83, 164);
}
.card img{
  width: 100%;
  height: 300px;
}

p {
  margin: 0;
  text-align: center;
  color: rgb(224, 54, 22); 
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "work-title lightboard lightboard lightboard" 
  "... Calculator  sunny-surfers runner-app";
  justify-content: space-evenly;
  height: 75vh;
  width: 100vw;
}
.grid-item{
  margin: 5px;
}
#work-title{
  grid-area: work-title;
}
#lightboard{
  grid-area: lightboard;
}
#Calculator{
  grid-area: Calculator;
}
#sunny-surfers{
  grid-area: sunny-surfers;
}
#runner-app{
  grid-area: runner-app;
}
#contact{
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
}
.footer-nav{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 250px;
}
.footer-nav li{
display: flex;
flex-direction: row;
list-style: none;
margin: 10px;
}

/* media queries needs to be added so that our webpage is responive on multiple device sizes */