* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* This adds a standard 0 margin and padding for all elements  */
html {
  scroll-behavior: smooth;
}
/* this adds scrolling so that when the hyperlink is pressed it will scroll smoothly to the section */
body { 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:   rgb(6,26,64);
  overflow-x: hidden;
}
/* This adds font family line height and background color to the body element and doesn't allow overflow on the horizontal axis */

.banner-image{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
/* this adds a background image to the banner and styles it with non repeated centered and width and height */
header{
  background-color: #043075;
  width: 100%;
  height: 10vh;
}
/* this gives the header element sizing and background color */
nav{
  margin: 5px;
}
/* this allows space between the navigational links and other elements */
#navLm{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 110px;
  padding: 22px;
  margin: 10px;
  text-decoration: none;
}
/* This changes the orientation of the links so that they display horizontally using flex and with styling for distance and space */
#navLm li{
  border-bottom: 5px solid black;
  list-style: none;
  margin: 5px;
  text-shadow: 2px 2px 5px  rgb(239 121 99);;
}
/* points towards the nav landmarks list items giving them a bottom border colored black, no list styling, text-shadow and additional spacing */
a:link, a:visited{
  color: rgb(239 121 99);
}
/* psuedo selectors used to change the color to the links so that they when the have been visited they will change color */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 25px;
  display: inline-block;
  font-weight: bold;
  color: rgb(20 127 235);
}
/* selecting all the headers in this code block gives them 25px margin stops them blocking onto the next line changes the text color and changes the fontstyle to bold */
.align{
  display: flex;
  margin: auto;
  padding: 5px;
  width: 500px;
}
/* this takes the programming language icons and aligns it within the center of the main part of the page */
.programming{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/* this allows further editing to the icons themselves */
#selfie-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: rgb(239 121 99);
  border: solid 4px purple;
}
/* this gives styling and border to the selfie image to the left of the page */
#work-title{
  padding-right: 67px;
  border-right: 20px solid black;
}
/* This id points towards the heading for work and gives padding and border to the right of the header */
#work{
  height: 820px;
}
/* this  points towards the work section and creates a size for the area on the webpage*/
.mainCard{
  width: 1000px;
  height: 497px;
  color: rgb(239 121 99);
}
/* This points towards the main card and creates the sizing  */
.mainCard h4{
  left: 30px;
}
/* this changes the location of the maincard's header */
#mainCardImg {
  width: 99vw;
  height: 60vh;
}
/* this line changes the sizing for the image's width and height  */
.card{
width: 450px;
height: 200px;
text-align: center;
}
/* this line changes the height and centers the content for the other cards */
.card h4, .mainCard h4{
  position: relative;
  bottom: 85px;
  right: 104px;
  color: rgb(239 121 99);
  background-color: rgb(3, 83, 164);
}
/* this changes the css position and colors for the headings for both sets of cards */
.card img{
  width: 500px;
  height: 332px;
  padding-top: 61px;
}
/* this changes the normal cards  image sizing */

p {
  display: inline-block;
  position: absolute;
  top: 413px;
  left: 449px;
  margin: 0 auto;
  text-align: center;
  color: rgb(239 121 99);
}
/* this changes the alignment and postiioning for the paragraph before the work section it also changes the color and text alignment for the paragraph itself */
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "work-title heriseon heriseon heriseon" 
  "work-title portfolio  password-generator coding-quiz";
  /* justify-content: space-evenly; */
  width: 100vw;
}
/* this class creates arranges and positions grid items with their associated names */
.grid-item{
  margin: 5px;
}
/* this adds additional margin to the grid items */
#work-title{
  grid-area: work-title;
}
/* this defines the name for one of the grid areas */
#heriseon{
  grid-area: heriseon;
}
/* this defines the name for one of the grid areas */
#portfolio{
  grid-area: portfolio;
}
/* this defines the name for one of the grid areas */
#password-generator {
  grid-area: password-generator;
}
/* this defines the name for one of the grid areas */
#coding-quiz{
  grid-area: coding-quiz;
}
/* this defines the name for one of the grid areas */
#contact{
  position: absolute;
  top: 1590px;
  width: 82vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/* this creates postioning and sizing css including the use of flex to position the contact section at the bottom of the page */
.footer-nav{
  display: flex;
  flex-direction: row;
  width: 65vw;
  height: 41px;
  position: relative;
  top: 23px;
}
/* this changes the positioning and sizing for the footer navigation landmark */
.footer-nav li{
display: flex;
flex-direction: row;
list-style: none;
margin: 10px;
}
/* this creates more sizing and spacing declarations for the footer nav landmarks list items
 */

/* responsive web development section */

/* media queries needs to be added so that our webpage is responive on multiple device sizes */
@media only screen and (max-width: 600px) {
  body{
    text-align: center;
    width: 812px
  }
  #navLm {
    position: relative;
    bottom: 93px;
  }
  .header-title{
    display: flex;
    justify-content: flex-start;
    font-size: x-large'
  }
  h1,
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    display: flex;
    justify-content: flex-start;

  }
  #about{
    width: 100vw;
    height: 600px;
  }
  p {
    text-align: center;
    width: 600px;
    display: flex;
    position: absolute;
    top: 413px;
    left: 98px;

  }
  #work{
    height: 2266px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: "work-title"
   "heriseon"
   "portfolio"
   "password-generator"
   "coding-quiz";
  }
  #work-title{
    border-right: none;
    display: flex;
    justify-content: center;
    height: 90px;
    padding-right: 0;
  }
  
  .card{
    height:100px;
    width: 600px;
  }
  .card img,#mainCardImg {
    width: 997px;
    height: 440px;
  }
  .card h4{
    position: relative;
    bottom: 72px;
    left: 166px;
  }
  #heriseon{
    width: 100vw;
    height: 50vh;
  }
  #portfolio-img, #password-generator-img, #coding-quiz-img{
    width: 997px;
    height: 440px;
    margin: 10px;
  }
  #portfolio{
    width: 997px;
    height: 50vh;
  }
  #password-generator{
    width: 45vw;
    height: 50vh;
  }
  #coding-quiz{
    width: 45vw;
    height: 50vh;
  }
  #contact-me{
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 1111px;
  }
  .footer-nav{
    height: 25px;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 1127px;
    left: 322px;
  }
  #selfie-image{
    height: 250px;
    width: 250px;
    margin: auto;
  }

}
@media only screen and  (max-width: 720px) {
  body{
    text-align: center;
    width: 999px;
  }
  #navLm{
    width: 997px;
    position: relative;
    bottom: 93px;
  }
  #about{
  width: 100vw;
  height: 600px;
  }
  #work{
    height: 2000px;
    width: 997px;
  }
  #work-title{
    height: auto;
    padding-right: 0;
    border-right: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .grid-container {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: "work-title"
   "heriseon"
   " portfolio"
   " password-generator"
   "coding-quiz";
   justify-content: center;
  }
  .grid-item{
    margin: 0;
  }
  p {
    display: block;
    margin: 300px 5px;
    padding: 5px;
    width: 1005px;
    position: absolute;
    left: 1px;
  }
  h1,
  h2,
  h3,
  h4,
  h5, 
  h6{
    display: inline-flex;
    justify-content: center;
  }
  h1{
    display: flex;
    justify-content: flex-start;
}
#mainCardImg {
  width: 997px;
  height: 60vh;
}
  .card{
    width: 998px;
    height: 200px;
  }
  .card h4 {
    position: relative;
    left: 187px;
  }
  .card img{
    width: 997px;
    height: 440px;
    margin: 10px 0;
  }
  #contact-me{
    position: absolute;
    top: 1491px;
  }
  .footer-nav{
    position: absolute;
    top: 1514px;
    left: 355px
  }
  #selfie-image{
    position: absolute;
    top: 442px;
    left: 386px;
  }
  .align{
    position: relative;
    top: 524px;
    left: 139px;
  }
  #work-title{
    position: absolute;
    left: 44px;
    top: 961px;
  }
  .about-me{
    position: absolute;
    top: 401px;
    left: 36px;
   margin: 0 auto;
  }
  .contact{
    position: relative;
    bottom: 0;
  }
}
